## README
mlflow models can be served from the runs or from the registered models using the below methods:

<code>mlflow models serve --model-uri runs:/YOUR_MODEL_RUN/YOUR_MODEL_NAME -p PORT</code><br>
<code>mlflow models serve --model-uri models:/REGISTERED_MODEL_NAME/MODEL_VERSION -p PORT</code><br>
<code>mlflow models serve -m file:/<PATH_TO_MODEL> -p PORT </code>

The meta information for serving the model is retrieved from the location specified by the <code>MLFLOW_TRACKING_URI</code> environment variable

Refer : https://www.mlflow.org/docs/latest/model-registry.html

In [1]:
import pandas as pd
import numpy as np
import subprocess
import json
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, accuracy_score, confusion_matrix

import mlflow
import mlflow.sklearn

from load_data import DataLoader

In [2]:
dl = DataLoader()
dl.load_data('dataset/creditcard.csv', ['Class'], ['Time'])

In [3]:
input_json = pd.DataFrame(data=dl.x_test[:80], columns=dl.featureColumns).to_json(orient="split")

In [7]:
proc = subprocess.run(["curl",  "-X", "POST", "-H", "Content-Type:application/json; format=pandas-split", 
                       "--data", input_json, "http://127.0.0.1:31235/invocations"], 
                      stdout=subprocess.PIPE, encoding='utf-8')

output = proc.stdout
df2 = pd.DataFrame([json.loads(output)])
df2

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0